<h1>Update your password</h1>

<p>Please enter the new password below and then press "Update Password".</p>

<%= form_tag password_reset_path, :method => :put do %>
  <%= password_field_tag :password %>
  <%= hidden_field_tag :token, @token %>
  
  <%= submit_tag "Update Password" %>
<% end %>